## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avinurme,EE,58.9822,26.8642,34.83,83,16,5.97,few clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,42.91,75,40,23.02,light rain
2,2,New Norfolk,AU,-42.7826,147.0587,42.71,86,36,1.01,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,76.37,77,78,19.69,broken clouds
4,4,Hobart,AU,-42.8794,147.3294,42.66,88,0,4.61,clear sky

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Rikitea,PF,-23.1203,-134.9692,76.37,77,78,19.69,broken clouds
6,6,Kimbe,PG,-5.5502,150.1429,80.78,83,99,1.99,overcast clouds
7,7,Hilo,US,19.7297,-155.0900,92.28,76,75,11.50,light rain
8,8,Hithadhoo,MV,-0.6000,73.0833,81.97,82,100,22.39,moderate rain
9,9,Atuona,PF,-9.8000,-139.0333,78.60,75,1,15.14,clear sky
12,12,Santa Fe,AR,-31.6333,-60.7000,70.00,62,71,6.02,light rain
14,14,Vila Velha,BR,-20.3297,-40.2925,75.15,78,40,12.66,scattered clouds
15,15,Maputo,MZ,-25.9653,32.5892,67.23,82,75,5.75,broken clouds
20,20,Sur,OM,22.5667,59.5289,87.93,37,0,10.96,clear sky
22,22,Belmonte,BR,-15.8631,-38.8828,75.24,85,95,9.10,light rain

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                323
City                   323
Country                322
Lat                    323
Lng                    323
Max Temp               323
Humidity               323
Cloudiness             323
Wind Speed             323
Current Description    323
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [21]:
clean_df.count()

City_ID                322
City                   322
Country                322
Lat                    322
Lng                    322
Max Temp               322
Humidity               322
Cloudiness             322
Wind Speed             322
Current Description    322
dtype: int64

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,76.37,broken clouds,-23.1203,-134.9692,
6,Kimbe,PG,80.78,overcast clouds,-5.5502,150.1429,
7,Hilo,US,92.28,light rain,19.7297,-155.0900,
8,Hithadhoo,MV,81.97,moderate rain,-0.6000,73.0833,
9,Atuona,PF,78.60,clear sky,-9.8000,-139.0333,
12,Santa Fe,AR,70.00,light rain,-31.6333,-60.7000,
14,Vila Velha,BR,75.15,scattered clouds,-20.3297,-40.2925,
15,Maputo,MZ,67.23,broken clouds,-25.9653,32.5892,
20,Sur,OM,87.93,clear sky,22.5667,59.5289,
22,Belmonte,BR,75.24,light rain,-15.8631,-38.8828,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [29]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,76.37,broken clouds,-23.1203,-134.9692,People ThankYou
6,Kimbe,PG,80.78,overcast clouds,-5.5502,150.1429,Kimbe Bay Hotel
7,Hilo,US,92.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Hithadhoo,MV,81.97,moderate rain,-0.6000,73.0833,Scoop Guest House
9,Atuona,PF,78.60,clear sky,-9.8000,-139.0333,Villa Enata
12,Santa Fe,AR,70.00,light rain,-31.6333,-60.7000,Conquistador Hotel
14,Vila Velha,BR,75.15,scattered clouds,-20.3297,-40.2925,Hotel Vitória Palace
15,Maputo,MZ,67.23,broken clouds,-25.9653,32.5892,Pestana Rovuma
20,Sur,OM,87.93,clear sky,22.5667,59.5289,Sur Plaza Hotel
22,Belmonte,BR,75.24,light rain,-15.8631,-38.8828,Pousada Monte Carmelo O Pão

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))